{% extends 'base.html.twig' %}

{% block title %}Gwada excursion | Accueil
{% endblock %}

{% block body %}

	<!-- hero - start -->
	<div class="bg-white pb-6 sm:pb-8 lg:pb-12">
		<div class=" w-full h-full">
			{% for img in homes %}
				<section
					class="min-h-96 flex justify-center items-center flex-1 shrink-0 bg-gray-100 overflow-hidden shadow-lg relative py-16 md:py-20 xl:py-48 bg-sea bg-fixed">

					<!-- image - start -->
					<img src="{{ vich_uploader_asset(img, 'imageFile') | imagine_filter('index') }}" loading="lazy" alt="{{img.imageName}}" class="w-full h-full object-cover object-center absolute inset-0"/><!-- image - end -->

					<!-- overlay - start --><div class="bg-gray-500  mix-blend-multiply absolute inset-0"> </div>
					<!-- overlay - end -->

					<!-- text start -->
					<div class="sm:max-w-xl flex flex-col items-center relative">

						<h1 class="text-white lg:text-4xl sm:text-2xl md:text-4xl font-bold text-center mb-8 md:mb-12 shadow-sm">
							GWADA
							<span class="text-rose-600">EXCURSION</span>
						</h1>
						{# <h1 class="text-5xl font-bold mt-0 mb-6">GWADA EXCURSION</h1> #}
						<p class="text-white text-lg sm:text-xl text-center mb-4 md:mb-8">Partez explorer la Guadeloupe clé en main</p>

						<div class="w-full flex flex-col sm:flex-row sm:justify-center gap-2.5 max-w-xs">
							<a href="{{path('app_services')}}" class="inline-block bg-rose-500 hover:bg-rose-600 active:bg-rose-700 focus-visible:ring text-white text-sm md:text-base font-semibold text-center rounded-lg outline-none transition duration-100 px-8 py-3">Voir les excursions</a>
						</div>
					</div>
					<!-- text end -->
				</section>
			{% endfor %}
		</div>
	</div>
	<!-- hero - end -->

	<!-- gallery - start -->
	<div class="bg-white sm:py-8 lg:py-12 text-gray-500">

		<div class="max-w-screen-2xl px-4 md:px-8 mx-auto">

			{% for home in homes %}
				<div class="mb-10">
					<h2 class="text-gray-500 text-2xl lg:text-3xl font-bold text-center mb-4 md:mb-8 xl:mb-12">{{home.title}}</h2>

					<div class="p-2 text-lg">{{home.description | raw}}</div>
				</div>
			{% endfor %}

			{% include "components/_excursion.html.twig" %}
		</div>
	</div>
	<!-- gallery - end -->


<!-- Last tree images -->
	{# <div class="flex items-center justify-center flex-row w-full">
			{% for slide in slides %}
				<div class="w-2/3 p-1 md:p-2">
					<img alt="{{slide.imageName}}" class="block object-cover object-center w-full h-full rounded-lg" src="{{ vich_uploader_asset(slide, 'imageFile')| imagine_filter('miniature') }}">
				</div>
			{% endfor %}
		</div> #}


{% endblock %}
