{% extends "base.html.twig" %}

{% block title %}
{{services.name}}
{% endblock %}

{% block body %}

<div class="max-w-6xl mx-auto">
  <div class="text-center">
    <h1 class="font-bold uppercase text-color-gradient text-xl sm:text-2xl mt-10 pb-6">{{services.name}}</h1>
  </div>

  <div class="max-w-6xl mx-auto">
    <div class="px-4 mx-auto">
      <div class="grid md:grid-cols-2 gap-8 lg:gap-12">
        <div class="md:pt-1">
          {% if services.slides | length <= 1 %} <div class="w-full bg-gray-100 overflow-hidden rounded-lg shadow-lg">
            <img src="{{ vich_uploader_asset(services) | imagine_filter('show') }}" loading="lazy"
              alt="{{services.name}}" class="object-center object-cover w-full" />
        </div>
        {% else %}
        <div>
          {% include './components/_carousel.html.twig' %}
        </div>
        {% endif %}
      </div>

      <!-- Description services -->
      <div class="md:pt-1">
        <div class="text-secondary text-lg mb-6 md:mb-8 text-justify leading-loose">
          {{services.description | raw}}
        </div>
      </div>
    </div>


    <!-- Bon a savoir -->
    <div class="py-6">
      <div class="">
        <div class="grid sm:grid-cols-2 md:grid-cols-3 gap-4 md:gap-6">
          <!-- review - start -->
          <div class="flex flex-col border-2 rounded-lg gap-3 p-4 md:p-6 shadow-lg bg-white">
            <div>
              <span class="block text-color-gradient text-lg font-bold text-center underline">Bon à savoir</span>
            </div>
            <!-- feature - start -->
            <div class="flex flex-col p-4 md:p-6">
              <div class="text-skin-muted text-lg mb-4 leading-relaxed">{{services.goodToKnow | raw}}</div>
            </div>
            <!-- feature - end -->
          </div>
          <!-- review - end -->

          <!-- review - start -->
          <div class="flex flex-col border-2 rounded-lg gap-3 p-4 md:p-6 shadow-lg bg-white">
            <div>
              <h3 class="block text-color-gradient text-lg font-semibold text-center underline">Déroulement de la
                journée
              </h3>
            </div>
            <!-- feature - start -->
            <div class="flex flex-col p-4 md:p-6">
              <div class="text-skin-muted text-lg mb-4 leading-relaxed">{{services.courseOfTheDay | raw}}</div>

            </div>
            <!-- feature - end -->

          </div>
          <!-- review - end -->

          <!-- review - start -->
          <div class="flex flex-col border-2 rounded-lg gap-3 p-4 md:p-6 shadow-lg bg-white">

            <div>
              <h3 class="block text-color-gradient text-lg font-bold text-center underline">Au menu</h3>
            </div>
            <!-- feature - start -->
            <div class="flex flex-col p-4 md:p-6">
              <div class="text-skin-muted text-lg mb-4 leading-relaxed">{{services.menu | raw}}</div>
            </div>
            <!-- feature - end -->
          </div>
          <!-- review - end -->
        </div>
      </div>
    </div>
  </div>
</div>
</div>
{% include "components/_formule.html.twig" %}
{% endblock %}