{% extends "base.html.twig" %}

{% block title %}
	{{services.name}}
{% endblock %}

{% block body %}
	<div>
		<div class="text-center">
			<h1 class="font-bold uppercase text-theme-color sm:text-4xl mt-10 text-xl">{{services.name}}</h1>
		</div>
	</div>
	<div class="bg-white py-6 sm:py-8 lg:py-12">
		<div class="max-w-screen-xl px-4 md:px-8 mx-auto">
			<div class="grid md:grid-cols-2 gap-8 lg:gap-12">
				<div class="md:pt-1">
				{% if services.slides | length <= 1 %}
					<div class="w-full bg-gray-100 overflow-hidden rounded-lg shadow-lg">
						<img src="{{ vich_uploader_asset(services) | imagine_filter('show') }}" loading="lazy" alt="{{services.name}}" class="object-center object-cover w-full h-72"/>
					</div>
					{% else %}
					<div>
					{% include './components/_caroussel.html.twig' %}
					</div>
					{% endif %}
				</div>

				<!-- Description services -->
				<div class="md:pt-1">
					<div class="text-gray-500 text-lg mb-6 md:mb-8 text-justify leading-loose">
						{{services.description | raw}}
					</div>
				</div>
			</div>
		</div>
	</div>


<!-- Bon a savoir -->
	<div class="bg-gray-100 py-6 sm:py-8 lg:py-12">
		<div class="max-w-screen-2xl px-4 md:px-8 mx-auto">
			<div
				class="grid sm:grid-cols-2 md:grid-cols-3 gap-4 md:gap-6">
				<!-- review - start -->
				<div class="flex flex-col border-2 rounded-lg gap-3 p-4 md:p-6 shadow-lg bg-white">
					<div>
						<span class="block text-lg font-bold text-center underline">Bon à savoir</span>
					</div>
					<!-- feature - start -->
					<div class="flex flex-col p-4 md:p-6">
						<div class="text-gray-500 text-lg mb-4 leading-relaxed">{{services.goodToKnow | raw}}</div>
					</div>
					<!-- feature - end -->
				</div>
				<!-- review - end -->

				<!-- review - start -->
				<div class="flex flex-col border-2 rounded-lg gap-3 p-4 md:p-6 shadow-lg bg-white">
					<div>
						<h3 class="block text-lg font-semibold text-center underline">Déroulement de la journée</h3>
					</div>
					<!-- feature - start -->
					<div class="flex flex-col p-4 md:p-6">
						<div class="text-gray-500 text-lg mb-4 leading-relaxed">{{services.courseOfTheDay | raw}}</div>

					</div>
					<!-- feature - end -->

				</div>
				<!-- review - end -->

				<!-- review - start -->
				<div class="flex flex-col border-2 rounded-lg gap-3 p-4 md:p-6 shadow-lg bg-white">

					<div>
						<h3 class="block text-lg font-bold text-center underline">Au menu</h3>
					</div>
					<!-- feature - start -->
					<div class="flex flex-col p-4 md:p-6">
						<div class="text-gray-500 text-lg mb-4 leading-relaxed">{{services.menu | raw}}</div>
					</div>
					<!-- feature - end -->
				</div>
				<!-- review - end -->
			</div>
		</div>
	</div>

<!-- Formule -->
	<div class="bg-slate-50 py-6 sm:py-8 lg:py-12">
		<div class="max-w-screen-xl px-4 md:px-8 mx-auto">
			<h2 class="text-gray-800 text-2xl lg:text-3xl font-bold text-center mb-4 md:mb-8 xl:mb-12">Nos formules</h2>
			<div
				class="grid lg:grid-cols-4 sm:grid-cols-2 gap-4 mb-4 md:mb-6">
				<!-- plan - start -->
				{% for formule in services.formules %}
					<div class="flex flex-col border rounded-lg p-4 pt-6 shadow-lg min-h-48">
						<div class="mb-12">
							<div class="text-gray-800 text-xl font-bold text-center mb-2">{{formule.name}}</div>
							<div
								class="space-y-2">
								<!-- check - start -->
								<div class="flex gap-2 items-stretch">
									<span class="text-gray-600">{{formule.description | raw}}</span>
								</div>
								<!-- check - end -->
							</div>
						</div>

						<div class="flex flex-col gap-8 mt-auto">
							<div class="flex justify-center items-end gap-1">
								<span class="self-start text-gray-600"></span>
								<span class="text-2xl text-gray-500 font-bold">Prix :
									{{formule.price}}
									€</span>
							</div>
						</div>
					</div>
				{% endfor %}
				<!-- plan - end -->
			</div>
		</div>
	</div>
{% endblock %}
