<div class="w-full m-auto">
    {{ form_start(form, {'method': 'POST'}) }}
    {{form_row(form.firstName)}}
    {{form_row(form.lastName)}}
    {{form_row(form.email)}}
    {{form_row(form.subject)}}
    {{form_row(form.message)}}
    {{form_row(form.submit)}}
    {{ form_end(form) }}
</div>

