<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 md:gap-6 xl:gap-8 mb-4 md:mb-8">
	{% for service in services %}
		<!-- image - start -->
		<a href="{{path('app_services_show', {'slug': service.slug}) }}" class="group h-48 md:h-80 flex items-end bg-gray-100 overflow-hidden rounded-lg shadow-lg relative">
			{# <img src="./build/images/{{service.avatar}}" loading="lazy" alt="{{service.name}}" class="w-full h-full object-cover object-center absolute inset-0 group-hover:scale-110 transition duration-200"/> #}

			<img src="{{ vich_uploader_asset(service,'imageFile') }}" loading="lazy" alt="{{service.name}}" class="w-full h-full object-cover object-center absolute inset-0 group-hover:scale-110 transition duration-200"/>

			

			<div class="bg-gradient-to-t from-gray-800 via-transparent to-transparent opacity-50 absolute inset-0 pointer-events-none"></div>

			<span class="inline-block text-white uppercase text-sm md:text-lg relative ml-4 md:ml-5 mb-3">{{service.name}}</span>
		</a>
		<!-- image - end -->
	{% endfor %}
</div>
